.content {
    margin-left: 50px;
}

.collapsible {
    cursor: pointer;
}

body {
    background-color: #f1f1f1;
    /* min-height:900px; */
}

.root {
    margin-bottom: 20px;
}

/* Style the button that is used to open and close the collapsible content */

.collapsible, .root {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    padding: 5px 5px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */

.active, .collapsible:hover {
    background-color: #555;
}

/* Style the collapsible children. Note: hidden by default */

.children {
    padding: 0 18px;
    /* display: none; */
    overflow: hidden;
    /* max-height: 0; */
    background-color: #f1f1f1;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
    /* margin-bottom:3px; */
}

.collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    font-size: 15px;
    float: right;
    margin-right: 20px;
}

.active:after {
    content: "\2212";
}